{
  "plugins": [
	"@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
	"@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-object-assign",
	"array-includes"
  ],
  "presets": [
    [
        "@babel/preset-env",
        {
			"forceAllTransforms": false,
			"corejs": 3,
			"targets": {
				"esmodules": true
			},
            "useBuiltIns": "usage"
        }
    ]
  ]
}
