@import 'components/addOrEditLocalFieldModal'
@import 'components/fieldsList'

// Global variables used by css (not compile time)
::root
	--normal-text-size: 14px

*
	box-sizing: border-box

body
	margin: 0
